body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-dog {
    width: 60%;
    max-width: 350px;
    padding-bottom: 10px;
    padding-top: 10px;

    margin-bottom: 20px;
}

.img-dog {
    width: 60%;
    max-width: 350px;
}
