.cart-wrapper{
    width: 100%;
}

.cart-wrapper h1 {
    margin-left: 10px
}

.order-wrapper,
.shopping-cart-wrapper {
    background-color:darkgoldenrod;
    border: 10px outset goldenrod;
    border-radius: 5px;
    height: max-content;
    padding: 5px;
}

.shopping-cart-wrapper {
    width: 95%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;


    display: flex;
    flex-direction: row;
    
}

.shopping-cart-img {
    width: 300px;
    border-radius: 5px;
}

.shopping-cart-name {
    color:beige;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize; 
}

.shopping-cart-price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.shopping-cart-final-price{
     font-size: 20px;
    font-weight: 600;
}

.shopping-cart-counter-wrapper{
    margin-left: auto;
}


@media (max-width: 800px) {
    .shopping-cart-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 700px) {

    .cart-wrapper {
        flex-direction: column;
    }
}