body {
    background-color: gray;
}

.home-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.cards{
    max-width: 95%;
    margin-bottom: 20px;
}

.clock{
    background-color:darkgray;
    width: 230px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 230px;
}

th,
td {
    border: 2px solid black;
    padding: 10px;
    text-align: left;
    min-width: 100px;
    background: #f3f3f3;
}

td:hover,
th:hover {
    background-color:lightslategray;
    color: #f3f3f3;
}