body {
    font-family: Arial;
    padding: 20px;
}

.article {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;

    padding: 10px 15px;
    display: none;
    cursor: pointer;
}
