body {
    background-color: blanchedalmond;
}

#form-Registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-Registration div {
    display: flex;
    flex-direction: column;
}

#form-Registration div input {
    margin-bottom: 10px;
    padding-right: 150px;
    padding-bottom: 5px;
}

#form-Registration div button {
    padding-bottom: 5px;
}
