.alert-bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: #77777794;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-fg {
    width: 33vw;
    min-width: 300px;
    max-width: 400px;
    height: 66vh;
    min-height: 200px;

    padding: 10px;

   background: #f5f6fa;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
}

.alert-header {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-message {
    margin-top: 10px;
    padding: 12px 15px;
    background-color: #f8f9fa;
    border-radius: 12px;
}

.alert-fg button {
    margin-top: auto;
    height: 40px;
    border-radius: 10px;
}
